* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body { background: url("./../imagens/marvelBackground.gif") center / cover no-repeat; height: auto}
.body { background: url("./../imagens/marvelBackground.gif") center / cover no-repeat; height: auto;padding-bottom: 30rem}
#container {width: 80%}

.logo-marvel {
    background-color: rgba(0,0,0, .6);
    color: white;
    font-family: "Arial", serif;
    padding: .1rem 1rem;
    font-weight: bold;
}

section#container {
    margin-top: 3rem;
}
main {
    position: relative;
    top: 4rem;
    height: 1400px;
}

.pagination {
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    transform: translate(-3%, -3%);
}

.row {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
}

.w25 {
    border: 1px solid black;
    border-radius: 10px;
    flex: calc(25% - 1rem);
    padding: 0;
}


footer > p {
    margin-top: 5rem;
    text-align: center;
    color: black;
    font-size: 1rem;
    letter-spacing: .3rem;
    padding: 4rem 0;
}


@media screen and (max-width: 1280px) {
    main {
        height: 90rem;
    }

    .w25 {
        flex: 25%;
    }
}

@media screen and (max-width: 1024px) {
    main {
        height: 110rem;
    }

    .w25 {
        flex: 33%;
    }

}

@media screen and (max-width: 840px) {
    main {
        height: 115rem;
    }
}

@media screen and (max-width: 768px) {
    .w25 {
        flex: 33%;
    }
    main {
        top: 3.5rem;
        height: 115rem;
    }

    #body { height: calc(63rem * 2)}

    .footer {
        margin-top: 0;
    }
    .bg-modal{
        margin-top: 8rem;
    }

    .bg-modal-navegate {
        top: 20rem;
    }

}

@media screen and (max-width: 640px) {
    .slider { display: none}
    .w25 {
        flex: 50%;
    }

    main {
        top: 1rem;
        height: 132rem;
    }

    #body { height: calc(72rem * 2)}

    .footer {
        margin-top: 0;
    }

}


@media screen and (max-width: 597px) {
    .w25 {
        flex: 100%;
    }

    main {
        top: 1rem;
        height: 250rem;
    }

    #body { height: calc(133rem * 2)}

    .footer {
        margin-top: 0;

    }
    .bg-modal-navegate {
        top: 20rem;
    }

    .bg-modal{
        margin-top: 8rem;
        width: 100%;
    }

    .box-modal {
        width: 97%;
        left: 2rem;
    }

    .footer > p {
        flex: 100%;
        text-align: center;
        color: black;
        font-size: .75rem;
    }

}

@media screen and (max-width: 468px) {
    main {
        top: 1rem;
        height: 255rem;
    }

    #img-search {
        width: 330px!important;
        height: 151px!important;
    }

    .bg-modal {width: 97%!important;}
}

@media screen and (max-width: 384px) {
    .w25 {
        flex: 100%;
    }

    main {
        height: 255rem;
    }

    #body { height: calc(135rem * 2)}

    .bg-modal-navegate {
        top: 20rem;
    }

    .bg-modal{
        width: 100%;
    }

    .box-modal {
        width: 97%;
        left: 2rem;
    }

    footer > p {
        padding: 4rem 0;
    }

}


