.slider{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem;
    max-height: 300px;
    background-color: blueviolet;
    border: 1px solid black;
    margin: 0 auto;
}

.slider > img {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}






















